.error {
    color: red;
}
body{
	overflow: auto;
}





.text {
    color: #012970;
    font-size: 5rem;
    position: absolute;
    left: 5%;
    animation-name: text;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.text2 {
    font-size: 2rem;
}

.box {
    width: 60%;
    height: 70%;
    position: relative;
    left: 15%;
    top:0%; /* Adjust the top position to move the image up */
    animation: example 4s forwards;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.box-updown{
	
	animation: continuousAnimation 5s infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.button {
    font-size: 1.5rem;
    padding: 1.5%;
}

@keyframes example {
    0% { top: 100px; }
    45% { top: -50px; }
    100% { top: -50px; } /* Set the final position */
}

@keyframes text {
    0% { top: 0px; }
    45% { top: 85px; }
    100% { top: 85px; } /* Set the final position */
}


@keyframes continuousAnimation {
    0% { top: 0; } /* Start from the final position of 'example' animation */
    50% { top: -50px; } /* Middle position, adjust as needed */
    100% { top: 0; }
    
}


#eqname {
	font-size: 2.1rem;
	
}
#secname{
	font-size: 80%;
}
#price{
	font-size: 2.2rem;
}

.flex{
	display: flex;

}

.seperate{
	margin-top: 2rem;
}

.detail{
	color: #052c65;
	
}

.main1{
	padding: 2rem;
	background-color: rgb(204, 204, 204);
}
.mainbox{
	height: 41rem;
	width: auto;
	border-radius: 2rem;	
}

.upgrade{
	color: #052c65;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	font-size: 2.5rem;
	
}
.center{
	align-items: center;
}
.box1{
	background-color : rgb(196, 226, 255);
	text-align: left;
	padding: 1rem;
	margin-left: 3rem;
	border-radius: 2rem;
	height: 32rem;
	width: 40rem;
}
.box1 h1{
		font-weight: bold;
	}
.box2{
	background-color: rgb(14, 32, 194);
	color: ghostwhite;
	padding: 1rem;
	text-align: left;
	border-radius: 2rem;
	margin-left: 3rem;
	height: 32rem;
	width: 40rem;
}

.box2 h1{
	font-weight: bold;
}
.p1{
	font-size: 1rem;
}

